@font-face {
  font-family: Segoe UI;
  src: url(Police/Segoe\ UI.ttf);
}

* {
  background-color: #161616;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

/* NAVBAR */
.primary-header {
  display: flex;
  justify-content: space-between;
  padding: 2% 22% 3% 5%;
}

.header-left {
}

.header-left img {
  width: 60%;
}

.li-button {
  display: flex;
}

.li-button li {
  list-style: none;
  padding-left: 30%;
}

.li-button li a {
  text-decoration: none;
}
/* NAVBAR */

.main-block {
  display: flex;
  width: 100%;
  margin-top: 8%;
}

.block-start {
  margin-top: 30%;
  margin-left: 20%;
}

.block-start img {
  width: 80%;
}

/*Contenue*/

/*Contenue*/
